* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: grid;
  grid-template:
    "left-menu main aside_input" auto/
    auto 1fr auto;
  height: 100vh;
}

.aside_input{
  grid-area: aside_input;
  display: grid;
  align-items: center;
  background-color: rgba(220, 220, 220, 0.337);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.aside_input input{
  border: none;
  background-color: rgba(220, 220, 220, 0.337);
  outline: none;
}

.aside_search-icon{
  color: gray;
}

.aside_container{
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.aside_container h2{
  font-size: 18px;
  font-weight: 800;
}

.left-menu {
  grid-area: left-menu;
}
.main {
  grid-area: main;
}

.twotter-logo {
  width: 35px;
  margin: 1rem;
}
.nav-icon {
  width: 25px;
}
.nav-list {
  padding: 2rem;
  list-style: none;
}
.nav-list-item {
  display: grid;
  grid-template-columns: auto 1fr;
  text-decoration: none;
  gap: 0.5rem;
  padding: 1rem;

  color: black;
}

.tweet-btn {
  background-color: #1d9bf0;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 3rem;
  cursor: pointer;
  font-weight: 600;
}
.user-profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.tweet-form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.5rem;
  padding: 0.5rem;
}
.home__tweet-btn {
  background-color: #1d9bf0;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 0.9rem;
  cursor: pointer;
  font-weight: 600;
}
.reacting-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.reacting-icon {
  width: 20px;
}
